{% extends 'base.html' %}

{% block content %}
    <h1><img src="/static/images/flyover.png"/>{% block title %} Recent Flyovers {% endblock %}</h1>
    {% for flight in flights %}
        <div class='flight'>
            <img src="/static/images/airline_logos/{{ flight['operator_icao'] }}.png"/>
            <p>{{ flight['operator_callsign'] }}</p>
            <p>{{ flight['flight_number'] }}</p>
            <p>{{ flight['origin_iata'] }}</p>
            <p>to</p>
            <p>{{ flight['dest_iata'] }}</p>
        </div>
    {% endfor %}
{% endblock %}